* {
    padding: 0;
    margin: 0;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header style */
.header {
    background-image: url(/Assets/Hero-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 698px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.btn-signup {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.logo {
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 1000;
    color: #4E47FF;
}
.header nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 150px;
}

.header-section {
    justify-content: center;
    text-align: center;
}
.header-section h1 {
    text-align: center;
    font-size: 65px;
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 30px;
}

.btn-stayfocused {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 22px 46px;
    background-color: #4E47FF;
    color: #fff;
    border: none;
    border-radius: 15px;
    text-align: center;
}

/* Action Section style */
.action-section {
    margin: 100px 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.action-section h3 {
    font-size: 42px;
    margin-bottom: 30px;
}
.action-section article {
    font-size: 24px;
    color: #252432;
    margin: 0 300px 30px 0;
}
.btn-lunchlivepreview {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 22px 46px;
    background-color: #4E47FF;
    color: #fff;
    border: none;
    border-radius: 15px;
    text-align: center;
}

.action-section img {
    border-radius: 50px;
}